{% extends "blog/base.html"%}
{% load crispy_forms_tags%}
{% block content %}
    <div style="box-shadow:0px 0px 2px 0px #546E7F; padding: 15px;">
        <h3 class="h3aio">Join Today</h3>
        <hr>

        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
        
        <div class="form-goup">
            <button class="btn btn-outline-info" type="submit">Sing Up</button>
        </div>
        </form> 
        <hr>
        <div>
            <span class="text-muted">Already Have An Account ? <a class="ml-2" href="#"> Sing in</a></span>
        </div>
        
    </div>
    
{% endblock content %}